/* allmänt alla sidor: */
body {
    font-family: "Merriweather", serif;
    margin: 0px;
    padding: 0px;
    background: #f4f4f4;
    color: #333;

}


html {
    width: 100%;
    height: 100%;
}

main {
    max-width: 100%;
    margin: 0px auto;
    padding: 0vw;
    background: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 0px;
    padding-top: 2vw;
}

nav {
    background: #222;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    font-size: 2vw;
}

nav ul li a {
    font-family: "Merriweather", serif;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: transform 0.3s;
}

nav ul li a:hover {
    background: #3c93b2;
    border-radius: 4px;
}

h2,
h3 {
    text-align: center;
    font-size: 3rem;
    color: #010000;
    margin-bottom: 4vw;
    padding: 2vw;
}

p {
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 2rem;
    padding-left: 1vw;
}

/* Bilder: */
.Pic img,
.img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 0px; */
    /* object-fit: cover; */
}

/* .Pic img {
    width: 100%;
    border-radius: 5rem;
} */

/* Footer alla sidor */
footer {
    text-align: center;
    padding: 10px;
    background: #000000;
    color: white;
    margin-top: 5px;
    padding-bottom: 2rem;
}

.footer-container {
    margin-top: 5px;

}

.footer-container a {
    color: white;
    font-size: 3vw;
    margin: 0px 10px;
    transition: 1s;
}

.footer-container a:hover {
    color: #3c93b2;
}

/* Knappar portfolio sidan */
.button {
    display: inline-block;
    /* display:inline-flex; */
    background: #010000;
    color: rgb(55, 184, 231);
    padding: 2rem 25vw;
    margin: 10px auto;
    text-decoration: none;
    border-radius: 25px;
    transition: width 0.3s;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.button:hover {
    background: #3c93b2;
}

/* Modal-Popup portfolio sidan*/
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 0 10px rgba(92, 179, 213, 0.3);
    max-width: 100%;
    text-align: center;

}


.modal-content p {
    font-size: 20px;
}

/* Öppnar modul när "läs mer" klickas */
.modal:target {
    display: grid;

}

/* Stäng-knapp */
.close {
    display: inline-block;
    background: rgb(0, 0, 0);
    color: white;
    padding: 1vw 10vw;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

/* fix för cv sidan */
.skola h2 {
    font-size: 4vw;
    margin-top: 1vw;
    margin-bottom: 0px;
    color: #3c93b2;
}

.skola p {
    font-size: 3vw;
    margin-top: 1rem;
}

.grid-main h2 {
    font-size: 4vw;
    margin-bottom: 0px;
    color: #3c93b2;
}

.jobb p {
    color: #000000;
    font-size: 2vw;
    text-align: center;
}

.jobb h3 {
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 0px;
}

/* contact ikoner  */
.icon-container {
    margin-top: 10px;
    text-align: center;

}

.icon-container a {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 1vw;
    transition: 1s;
}

.icon-container a:hover {
    color: #3c93b2;
}

.sida a {
    text-decoration: underline;
}


.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
}

.pic-contact img {
    width: 100%;
    height: auto;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin: -1rem -1rem; */
    /* margin-left: -1rem; */
}

.contacts .mail {
    font-size: 2px;
}

/* css för skräm mindre än 768px */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0vw;
    }

    nav ul li {
        margin: 10px 0;
        font-size: 4vw;
    }

    nav {
        background-color: rgb(51, 96, 118);
    }

    .grid-container {
        grid-template-columns: 1fr;
        align-items: grid;
    }

    .grid-container p {
        font-size: 1rem;
        text-align: center;
    }

    .grid-container2 {
        grid-template-columns: 1fr;
    }

    .grid-container2 img {
        width: 100%;
        /* border-radius: 5rem; */
        margin-top: 1vw;
    }

    h2,
    h3 {
        font-size: 18px;
    }

    p {
        font-size: 4vw;
    }

    .contacts p {
        font-size: 4vw;
    }

    footer {
        background-color: rgb(51, 96, 118);
        /* margin-bottom: -7rem; */
        padding-bottom: 4rem;
    }

    .button {
        background-color: rgb(51, 96, 118);
        padding: 1rem 20vw;
    }

    .Pic img {
        width: 100%;
        /* border-radius: 5rem; */
        margin-top: 2vw;
    }

    /* .pic-contact {
        padding-top: 0px;
    } */

    .footer-container {
        margin-top: 5px;
        margin-bottom: 0px;

    }

    .footer-container a {
        color: white;
        font-size: 6vw;
        margin: 0px 10px;
        transition: 1s;
    }

    .footer-container a:hover {
        color: #000000;
    }

    .button {
        width: 100%;
        max-width: 30%;
        padding: 1rem;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .modal {
        width: 95%;
        max-width: 90%;
        padding: 15px;
    }

    .modal-content p {
        font-size: 20px;
    }

    .close {
        width: 80%;
        text-align: center;
        display: block;
    }

}